// Configuration split into files by sections.
include "debug.kdl"
include "input.kdl"
include "external_outputs.kdl"
include "workspaces.kdl"
include "layout.kdl"
include "animations.kdl"
include "misc.kdl"
include "binds.kdl"

// host specific outputs
include "output.kdl"

// These includes are last, they will override settings from DMS or others like it.
include "decorations.kdl"
include "rules.kdl"
