// Møterom monitor
output "Samsung Electric Company SAMSUNG 0x01000E00" {
    mode "3840x2160@60"

    scale 2

    transform "normal"

}
output "Lenovo Group Limited L24i-30 UPB4ATWP" {
    mode "1920x1080@60"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // position x=3840 y=0
}
output "Lenovo Group Limited L24i-30 UPB4ATVF" {
    mode "1920x1080@60"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // position x=1920 y=0
}
output "Virtual-1" {
    off
    mode "1920x1080@60"
    position x=-10000 y=0   // shove it far away
}
